* {
   box-sizing: border-box;
 }
 
 body {
   background-color: #171717;
   margin: 0px;
   font-family: tahoma;
   color: #282828;
   display: flex;
   justify-content: center;
   align-items: center;
 }

 #app {
   height: 100vh;
   width: 100vw;
 }

 .orange-gradient {
  background: #FFB75E;
  background: linear-gradient(
    to right,
    #FFB75E,#ED8F03); 
}